# ------------------------------------------------------------------------------
# Global: directories

# JetBrains IDEs
.idea

# Node packages
node_modules

# Build output
build

# Test coverage output
coverage

# ------------------------------------------------------------------------------
# Global: files

# Mac (Finder) specific file
.DS_Store

# Ignore root-level `tsconfig.json` used for VS Code intergration
/tsconfig.json
